/* Make background fill the whole app */
html, body, #root, .dash-app, ._dash-app-content, .app-container {
    height: 100%;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-color: #F5F5F5;
}