/* Make background fill the whole app */
html, body, #root, .dash-app, ._dash-app-content, .app-container {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.rounded-btn {
    background-color: #4CAF50; /* green base */
    border: none;
    color: white;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 25px; /* makes them rounded */
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100px;
    margin-bottom: 5px;
}

.rounded-btn:hover {
    background-color: #45a049; /* darker green on hover */
}

.rounded-btn:active {
    background-color: #3e8e41;
}